/* RESET & BASE STYLES */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-text-primary);
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-normal);
  background: var(--color-green-background)
    url("../assets/images/background-desktop.jpg") no-repeat center center /
    cover;
}
