@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  color: #222;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #0179c5 url("../public/assets/images/background.png") no-repeat
    center center / cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.ForestGrid {
  display: flex;
  flex-direction: column;
  width: calc(100vh - 50px);
  height: auto;
  padding: 1rem;
  margin-top: 10px;
  background: url("../public/assets/images/grass.png") center center / 30%;
  border-radius: 5px;
  border: 5px solid #9bca50;
  outline: 1px solid #395c14;
  box-shadow: inset 0 0 20px 0 #111, 0 0 8px #fff;
  border-radius: 6px;
  overflow: hidden;
  /* transform: perspective(1200px) rotateX(45deg); */
  animation: scaleBoard 1.5s ease forwards;
}

@keyframes scaleBoard {
  from {
    opacity: 0;
    transform: scale(0.5) perspective(1200px) rotateX(45deg);
  }
  to {
    opacity: 1;
    transform: initial;
  }
}

.Mobile {
  width: calc(100vw - 20px);
}

.row {
  display: flex;
}

.tile {
  flex: 1;
  aspect-ratio: 1 / 1;
}

.tree {
  background: url("../public/assets/images/tree.png") no-repeat center center /
    contain;
}

.tree.scale1 {
  transform: scale(1.7);
}

.tree.scale2 {
  -webkit-transform: translateX(3px) scale(1.9) scaleX(-1);
  transform: translateX(3px) scale(1.9) scaleX(-1);
  background-image: url("../public/assets/images/tree-2.png");
}

.tree.scale3 {
  transform: scale(2) scaleX(-1);
  background-image: url("../public/assets/images/tree-2.png");
}

.tree.scale4 {
  -webkit-transform: translateX(5px) scale(2.05) scaleX(-1);
  transform: translateX(5px) scale(2.05);
  background-image: url("../public/assets/images/tree-3.png");
}

.tree.scale5 {
  -webkit-transform: translateX(5px) scale(1.95);
  transform: translateX(5px) scale(1.95);
  background-image: url("../public/assets/images/tree-3.png");
}

.tree.scale6 {
  transform: scale(2.1);
  background-image: url("../public/assets/images/tree-4.png");
}

.tree.scale7 {
  transform: scale(2.1) scaleX(-1);
  background-image: url("../public/assets/images/tree-4.png");
}

.tree.scale8 {
  -webkit-transform: translateX(-3px) scale(1.9) scaleX(-1);
  transform: translateX(-3px) scale(1.9) scaleX(-1);
  background-image: url("../public/assets/images/tree-2.png");
}

.tree.scale9 {
  -webkit-transform: translateX(-3px) scale(1.9) scaleX(-1);
  transform: translateX(-3px) scale(1.9) scaleX(-1);
  background-image: url("../public/assets/images/tree-5.png");
}

.tree.scale10 {
  -webkit-transform: translateX(2px) scale(2.2);
  transform: translateX(-1px) scale(2.2);
  background-image: url("../public/assets/images/tree-5.png");
}

.flower {
  background: url("../public/assets/images/flower.png") no-repeat center center /
    cover;
}

.player {
  background: url("../public/assets/images/player.png") no-repeat bottom center /
    contain;
}

.wolf {
  background: url("../public/assets/images/wolf.png") no-repeat center center /
    contain;
  z-index: 1;
}

.wolf-overlap {
  transform: scale(1.5);
  transition: transform 500ms ease-in-out;
}

.player-left {
  animation: leftMovePlayer 200ms ease forwards;
}

@keyframes leftMovePlayer {
  0% {
    transform: translateX(100%) translateY(0);
  }
  50% {
    transform: translateX(50%) translateY(-4px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.player-right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  animation: rightMovePlayer 200ms ease forwards;
}

@keyframes rightMovePlayer {
  0% {
    transform: scaleX(-1) translateX(100%) translateY(0);
  }
  50% {
    transform: scaleX(-1) translateX(50%) translateY(-4px);
  }
  100% {
    transform: scaleX(-1) translateX(0) translateY(0);
  }
}

.player-up {
  background-image: url("../public/assets/images/player-up.png");
  animation: upMovePlayer 200ms ease forwards;
}

@keyframes upMovePlayer {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.player-down {
  background-image: url("../public/assets/images/player-down.png");
  animation: downMovePlayer 200ms ease forwards;
}

@keyframes downMovePlayer {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.wolf-left {
  animation: leftMoveWolf 500ms ease forwards;
}

@keyframes leftMoveWolf {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.wolf-right {
  -webkit-transform: scaleX(-1) scaleY(1);
  transform: scaleX(-1) scaleY(1);
  animation: rightMoveWolf 500ms ease forwards;
}

@keyframes rightMoveWolf {
  from {
    transform: scaleX(-1) scaleY(1) translateX(100%);
  }
  to {
    transform: scaleX(-1) scaleY(1) translateX(0);
  }
}

.wolf-up {
  animation: upMoveWolf 500ms ease forwards;
}

@keyframes upMoveWolf {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.wolf-down {
  animation: downMoveWolf 500ms ease forwards;
}

@keyframes downMoveWolf {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.player,
.wolf,
.tree,
.granny-house,
.flower {
  -webkit-filter: drop-shadow(0 -2px 1px #22222230);
  filter: drop-shadow(0 -2px 1px #22222230);
}

.granny-house {
  position: relative;
  background: url("../public/assets/images/house.png") no-repeat center center /
    contain;
  transform: scale(2.5) translate(2px, 3px);
}

.tile.player.granny-house.tooltip {
  transform: scale(2.5) translate(2px, 3px) !important;
}

.granny-house.tooltip {
  z-index: 2;
  &::before {
    opacity: 0;
    content: "Congratulations! Granny's house is now your refuge.";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-wrap: balance;
    width: 90px;
    height: 3em;
    bottom: 100%;
    right: 4px;
    font-size: 6px;
    line-height: 1.3;
    padding: 2px 4px;
    color: #222;
    background-color: #eee;
    border-radius: 2px;
    animation: fadeIn 5s ease-in-out forwards;
  }
  &::after {
    opacity: 0;
    content: "";
    position: absolute;
    bottom: calc(100% - 2px);
    right: 50%;
    width: 4px;
    height: 4px;
    background-color: #eee;
    transform: rotate(45deg) translate(50%, -50%);
    animation: fadeIn 5s ease-in-out forwards;
    z-index: 2;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.quest-wrapper {
  text-wrap: balance;
  padding: 15px;
  font-size: 16px;
  background: #f5f5f5;
  border-radius: 5px;
}

.game-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #fff;
  color: #222;
  padding: 15px 10px;
  border-radius: 5px;
}

.game-controls > * {
  flex: 1;
  text-align: center;
  text-wrap: balance;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.game-controls .game-sound .game-sound-volume {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.game-controls input[type="range"] {
  width: 120px;
}

.game-controls button {
  padding: 8px;
  width: 120px;
  background-color: #4e9019;
  font-family: "Poppins", sans-serif;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.game-controls button:hover {
  background-color: #5ea523;
}

.quest-panel {
  gap: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #eee;
  padding: 15px 10px;
  transition: 750ms ease-in-out;
  transition-delay: 100ms;
  transform: translateY(calc(100% - 10px));
}

.quest-panel > .quest-wrapper,
.quest-panel > .game-controls {
  height: 100%;
  box-shadow: 1.95px 1.95px 2.6px rgba(0, 0, 0, 0.15);
  border: 1px solid #438030;
}

.quest-panel > button {
  grid-column: 2;
  transform: translateY(-100%);
  position: absolute;
  left: -22.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 30px;
  padding: 10px 10px 0 10px;
  top: 0;
  border: none;
  border-radius: 50% 50% 0 0;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  line-height: 1;
  color: #fff;
  background-color: #d1f5d1aa;
  transition: 1s ease-in-out;
  transition-delay: 100ms;
}

.quest-panel.visible {
  transform: translateY(0%);
  background-color: #ffffffaa;
}

.quest-panel.hidden {
  transform: translateY(calc(100% - 6px));
}
.quest-panel.visible,
.quest-panel.hidden {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.quest-panel.visible > button {
  background-color: #d1f5d1aa;
}

.quest-panel.hidden > button {
  background-color: #eee;
}

.game-over {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 500ms ease-in-out;
  z-index: 9999;
  animation: gameOver 1s ease forwards;
}

@keyframes gameOver {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.game-over-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00000060;
  border-radius: 50%;
  padding: 30px;
  border: 5px dashed #e1e1e190;
  outline: 5px solid #00000090;
  aspect-ratio: 1 / 1;
  animation: scaleUp 1s ease forwards;
}

@keyframes scaleUp {
  from {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}

.game-over-message {
  text-align: center;
  font-size: 24px;
  color: white;
  margin-bottom: 20px;
  max-width: 250px;
  text-wrap: balance;
  text-shadow: 1px 1px 1px #000;
}

.game-over-message > strong {
  display: inline-block;
  font-size: 32px;
  margin-bottom: 8px;
}

.game-over-restart {
  padding: 8px 20px;
  background-color: #4caf50;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.game-over-restart:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 768px) {
  .quest-panel.visible,
  .quest-panel.hidden {
    grid-template-columns: 1fr;
  }
  .quest-panel > button {
    grid-column: initial;
    left: 50%;
    transform: translate(-50%, -100%);
  }
  .quest-wrapper {
    text-align: center;
    font-size: 14px;
  }
  .game-controls {
    gap: 10px;
    font-size: 14px;
  }
  .game-controls .game-sound .game-sound-volume {
    flex-direction: column;
    justify-content: space-between;
  }
}
